# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Build mappan
build-3hluti-Desktop_Qt_Qt_Version_MinGW_32bit-Debug/

# Recycle Bin used on file shares
$RECYCLE.BIN/


# build mappan
build/


# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
